<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link href="http://room.test.com/static/layui/css/layui.css" type="text/css" rel="stylesheet">
    <link href="{$request->domain()}/static/layui/css/layui.css" type="text/css" rel="stylesheet">
    <link href="{$request->domain()}/static/layui/css/style.css" type="text/css" rel="stylesheet">
    <title>{$roomInfo.address} 教室信息</title>
    <style>
        #span_weekNum,a{
            color: #1E9FFF;
        }
        td.cid {
            cursor: pointer;
        }

    </style>
</head>
<body>
<div class="layui-container">
    <!--图片轮播开始-->
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div class="layui-carousel" id="test1">
                        <div carousel-item>
                            {volist name="config.carousel" id="li"}
                            <div><a href="{$li.a_href}" target="_blank"><img
                                    src="{$request->domain()}/img/{$li.img_url}"
                                    class="layui-img carousel-img" width="100%" height="100%"></a>
                            </div>
                            {/volist}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--图片轮播结束-->
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header">
                    <div class="layui-breadcrumb">
                        <a href="{:url('Index/emptyRoom',null,'.html',$request->domain())}">首页</a>
                        <a href="#">{$roomInfo.address} 教室详情</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header">
                    <table class="user-panel">
                        <tbody>
                        <tr>
                            <th>
                                姓名:
                            </th>
                            <td>
                                <span id="uername" class="link">{:session('realname')}<a
                                        href="{:url('User/index',['uid'=>session('uid')],'.html')}"
                                        target="_blank">个人中心</a>            </span>
                            </td>
                            <th>学号:</th>
                            <td>{:session("code")}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <table class="layui-table" lay-skin="line">
                        <thead>
                        <tr>
                            <th>
                                教室地址
                            </th>
                            <th>校区</th>
                            <th>教室种类</th>
                            <th>容纳人数</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{$roomInfo["address"]}</td>
                            <td>{$roomInfo["area"]}</td>
                            <td>{$roomInfo["category"]}</td>
                            <td>{$roomInfo["population"]}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <fieldset class="layui-elem-field">
                        <legend>借用教室</legend>
                        <div class="layui-field-box">
                            <p>本周是第<span id="span_weekNum">{$weekNum}</span>周            <a href="{:url('Index/detail',['cid'=>$emptyTime[0][0][2],'weekNum'=>$weekNum+1],'.html',$request->domain())}" >点击进入第{$weekNum+1}周</a></p>

                            <p>请点击<i class="layui-icon layui-icon-add-1" style="font-size: 15px;color: #1E9FFF"></i>进入借用界面
                            </p>
                        </div>
                    </fieldset>
                </div>
            </div>
            <table class="layui-table" lay-size="sm" style="text-align: center;">
                <thead>
                <tr>
                    <th>时间</th>
                    <th>第一、二节</th>
                    <th>第三、四节</th>
                    <th>第五、六节</th>
                    <th>第七、八节</th>
                    <th>第九、十节</th>
                    <th>午饭&午休时间</th>
                    <th>晚饭时间</th>
                    <th>晚课下课后</th>
                </tr>
                </thead>
                <tbody>
                {php}$result='
                <td><i class="layui-icon layui-icon-add-1" style="font-size: 30px;color: #c2c2c2"></i></td>
                ';
                {/php}
                {foreach name="emptyTime" item="k" key="key"}
                {switch name="$key"}
                {case value="0"}
                <tr>
                    <th>周二</th>
                    {for start="1" end="9" name="i"}
                    {foreach name="k" item="z"}
                    {php}
                    if ($z[1]==$i){
                    $url=url('Room/borrow',["cid"=>$z[2]],'.html',$request->domain());
                    $result='
                    <td data-cid="'.$z[2].'" data-week="'.$z[0].'" data-time="'.$z[1].'" class="cid"><i
                            class="layui-icon layui-icon-add-1" style="font-size: 30px;color: #1E9FFF"></i></td>
                    ';
                    break;
                    }else{
                    $result='
                    <td><i class="layui-icon layui-icon-add-1" style="font-size: 30px;color: #c2c2c2"></i></td>
                    ';
                    }
                    {/php}
                    {/foreach}
                    {$result}
                    {/for}
                </tr>

                {/case}
                {case value="1"}
                <tr>
                    <th>周二</th>
                    {for start="1" end="9" name="i"}
                    {foreach name="k" item="z"}
                    {php}
                    if ($z[1]==$i){
                    $url=url('Room/borrow',["cid"=>$z[2]],'.html',$request->domain());
                    $result='
                    <td data-cid="'.$z[2].'" data-week="'.$z[0].'" data-time="'.$z[1].'" class="cid"><i
                            class="layui-icon layui-icon-add-1" style="font-size: 30px;color: #1E9FFF"></i></td>
                    ';
                    break;
                    }else{
                    $result='
                    <td><i class="layui-icon layui-icon-add-1" style="font-size: 30px;color: #c2c2c2"></i></td>
                    ';
                    }
                    {/php}
                    {/foreach}
                    {$result}
                    {/for}
                </tr>
                {/case}
                {case value="2"}
                <tr>
                    <th>周三</th>
                    {for start="1" end="9" name="i"}
                    {foreach name="k" item="z"}
                    {php}
                    if ($z[1]==$i){
                    $url=url('Room/borrow',["cid"=>$z[2]],'.html',$request->domain());
                    $result='
                    <td data-cid="'.$z[2].'" data-week="'.$z[0].'" data-time="'.$z[1].'" class="cid"><i
                            class="layui-icon layui-icon-add-1" style="font-size: 30px;color: #1E9FFF"></i></td>
                    ';
                    break;
                    }else{
                    $result='
                    <td><i class="layui-icon layui-icon-add-1" style="font-size: 30px;color: #c2c2c2"></i></td>
                    ';
                    }
                    {/php}
                    {/foreach}
                    {$result}
                    {/for}
                </tr>
                {/case}
                {case value="3"}
                <tr>
                    <th>周四</th>
                    {for start="1" end="9" name="i"}
                    {foreach name="k" item="z"}
                    {php}
                    if ($z[1]==$i){
                    $url=url('Room/borrow',["cid"=>$z[2]],'.html',$request->domain());
                    $result='
                    <td data-cid="'.$z[2].'" data-week="'.$z[0].'" data-time="'.$z[1].'" class="cid"><i
                            class="layui-icon layui-icon-add-1" style="font-size: 30px;color: #1E9FFF"></i></td>
                    ';
                    break;
                    }else{
                    $result='
                    <td><i class="layui-icon layui-icon-add-1" style="font-size: 30px;color: #c2c2c2"></i></td>
                    ';
                    }
                    {/php}
                    {/foreach}
                    {$result}
                    {/for}
                </tr>
                {/case}
                {case value="4"}
                <tr>
                    <th>周五</th>
                    {for start="1" end="9" name="i"}
                    {foreach name="k" item="z"}
                    {php}
                    if ($z[1]==$i){
                    $url=url('Room/borrow',["cid"=>$z[2]],'.html',$request->domain());
                    $result='
                    <td data-cid="'.$z[2].'" data-week="'.$z[0].'" data-time="'.$z[1].'" class="cid"><i
                            class="layui-icon layui-icon-add-1" style="font-size: 30px;color: #1E9FFF"></i></td>
                    ';
                    break;
                    }else{
                    $result='
                    <td><i class="layui-icon layui-icon-add-1" style="font-size: 30px;color: #c2c2c2"></i></td>
                    ';
                    }
                    {/php}
                    {/foreach}
                    {$result}
                    {/for}
                </tr>
                {/case}
                {case value="5"}
                <tr>
                    <th>周六</th>
                    {for start="1" end="9" name="i"}
                    {foreach name="k" item="z"}
                    {php}
                    if ($z[1]==$i){
                    $url=url('Room/borrow',["cid"=>$z[2]],'.html',$request->domain());
                    $result='
                    <td data-cid="'.$z[2].'" data-week="'.$z[0].'" data-time="'.$z[1].'" class="cid"><i
                            class="layui-icon layui-icon-add-1" style="font-size: 30px;color: #1E9FFF"></i></td>
                    ';
                    break;
                    }else{
                    $result='
                    <td><i class="layui-icon layui-icon-add-1" style="font-size: 30px;color: #c2c2c2"></i></td>
                    ';
                    }
                    {/php}
                    {/foreach}
                    {$result}
                    {/for}
                </tr>
                {/case}
                {case value="6"}
                <tr>
                    <th>周日</th>
                    {for start="1" end="9" name="i"}
                    {foreach name="k" item="z"}
                    {php}
                    if ($z[1]==$i){
                    $url=url('Room/borrow',["cid"=>$z[2]],'.html',$request->domain());
                    $result='
                    <td data-cid="'.$z[2].'" data-week="'.$z[0].'" data-time="'.$z[1].'" class="cid"><i
                            class="layui-icon layui-icon-add-1" style="font-size: 30px;color: #1E9FFF"></i></td>
                    ';
                    break;
                    }else{
                    $result='
                    <td><i class="layui-icon layui-icon-add-1" style="font-size: 30px;color: #c2c2c2"></i></td>
                    ';
                    }
                    {/php}
                    {/foreach}
                    {$result}
                    {/for}
                </tr>
                {/case}

                {/switch}
                {/foreach}
                </tbody>
            </table>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-col-xs12">
            <fieldset class="layui-elem-field layui-field-title">
                <legend>教室借用记录</legend>
            </fieldset>
            <ul class="layui-timeline">
                {foreach name="history" item="i" key="key"}
                <li class="layui-timeline layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title" style="color: #009688;">{$i["usageTime"]}</h3>
                        <p>
                            <span class="span-title"><b>借用者:</b></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$i.uid}<br>
                            <span class="span-title"><b> 借用目的:</b></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$i.purpose}<br>
                            <span class="span-title"><b>借用组织:</b></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$i.groupName}<br>
                            <span class="span-title"><b>借用时间:</b></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$i.date}<br>
                        </p>
                    </div>
                </li>
                {/foreach}
            </ul>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-col-xs12">
            <fieldset class="layui-elem-field layui-field-title ">
                <legend><b><span
                        style="display: inline-block;font-size: x-large;transform: rotate(30deg);-webkit-transform: rotate(30deg);color: #01AAED;">越</span><span
                        style="font-size: x-small;">努</span><span style="font-size: larger"> 力</span>,<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                        style="font-size: medium">越</span><span style="font-size: xx-large">幸</span>运</b></legend>
                <div class="layui-field-box" style="text-align: center">
                    <b> 四川农业大学 信息化校园平台 教室借用系统 </b>
                </div>
            </fieldset>
        </div>
    </div>
</div>
<form class="layui-form layui-form-pane" id="borrow" style="visibility: hidden;margin: 30px">
    <div class="layui-form-item">
        <label class="layui-form-label" for="cid">
            时间编号:
        </label>
        <div class="layui-input-block">
            <input class="layui-input" type="text" disabled id="cid" value="" name="cid">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" for="time">
            使用时间:
        </label>
        <div class="layui-input-block">
            <input class="layui-input" type="text" disabled id="time" value="">
            <input class="layui-input" type="hidden" name="week"  value="">
            <input class="layui-input" type="hidden" name="weekNum" value="{$weekNum}">
            <input class="layui-input" type="hidden" name="section" value="">
            <input class="layui-input" type="hidden" name="url" value="{:url('Index/borrow',[],'.html',$request->domain())}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" for="purpose">
            用途
        </label>
        <div class="layui-input-block">
            <input class="layui-input" type="text" id="purpose" name="purpose">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" for="group">
            借用组织
        </label>
        <div class="layui-input-block">
            <input class="layui-input" type="text" id="group" name="groupName">
        </div>
    </div>
    <button class="layui-btn" style="width: 100%" type="button" id="submit_borrow">借用</button>
</form>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="{$request->domain()}/static/layui/layui.js"></script>
<script src="{$request->domain()}/static/layui/borrow.js"></script>
<script>
    layui.use(["element", "carousel"], function () {
        layui.carousel.render({
            elem: '#test1'
            , width: '100%' //设置容器宽度
            , arrow: 'always' //始终显示箭头
        })
    });
</script>
<script>

    $("td.cid").click(function () {
        var result=getCurrData(this);
        setCurrData(result[0],result[1],result[2],{$weekNum});
        openBorrowWindow();
    });

</script>
<script>
    $(function () {
        var data={};
        $("#submit_borrow").on("click",function () {
            data["cid"]=$("#cid").val();
            data["purpose"]=$("#purpose").val();
            data["week"]=$("input[name=week]").val();
            data["weekNum"]=$("input[name=weekNum]").val();
            data["section"]=$("input[name=section]").val();
            var url=$("input[name=url]").val();
            console.log(data);
            sendData(data,url);
        })
    })
</script>

</body>
</html>