<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="{$request->domain()}/static/layui/layui.js"></script>
<script src="{$request->domain()}/static/layui/borrow.js"></script>
<script>
$(function () {
    $.ajax(
        {
            url:"http://room.sicau.ml/index.php/index/section-info/699501?week=11"
            ,type:"get"
            ,dataType:"JSON"
            ,success:function (data) {
                console.log(data);
            }
        }
    );
    $('tbody td')
})
</script>
<table>
    <thead>
    <tr>
        <th>时间</th>
        <th>周1</th>
        <th>周2</th>
        <th>周3</th>
        <th>周4</th>
        <th>周5</th>
        <th>周6</th>
        <th>周日</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>1</th><td></td>
    </tr>
    </tbody>
</table>