<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>table模块快速使用</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
</head>
<body>

<table id="table" lay-filter="section-info"></table>
<script type="text/html" id="toolbar">
    <a class="layui-btn layui-btn-normal layui-btn-sm" lay-event="query" id="detail">查看</a>
    <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="toggle" id="toggle">toggle</a>
</script>
<script src="/static/layui/layui.js"></script>
<script>
    layui.use(['table', 'layer', 'jquery'], function () {
        var table = layui.table;
        var layer = layui.layer;
        var $ = layui.$;
        let expression = {};
        if (self !== top) {
            var uid = $("#iframe_cache input[name=uid]", window.parent.document).val();
            expression = {uid: uid};
            console.log(expression)
        }
        table.render({
            elem: '#table'
            , height: 512
            , loading: true
            , where: expression
            , url: '/index.php/section/log' //数据接口
            , page: true //开启分页
            , response: {
                statusCode: 200
            }
            , cols: [[ //表头
                {field: 'uid', title: '账户id', width: 80, sort: true, fixed: 'left'}
                , {field: 'cid', title: "节次id"}
                , {field: 'purpose', title: '借用目的',}
                , {field: 'groupName', title: '组织名称',}
                , {field: 'date', title: '记录生成时间',}
                , {field: 'usageTime', title: '使用时间'}
                , {field: 'email', title: '邮箱'}
                , {field: 'enabled', title: '可用性'}
            ]]
        });
        table.on("tool(section-info)", function (obj) {
            var data = obj.data;
            if (obj.event === "toggle") {
                layer.confirm("确认变更该行状态?", function (index) {
                    let value = 0;
                    if (data.availability === 0) {
                        value = 1;
                    }
                    $.ajax({
                        data: {"cid": data.cid}
                        , url: "../section/toggle"
                        , success: function (data) {
                            console.log(data);
                            obj.update({
                                "availability": value
                            })
                        }
                    });
                    layer.close(index)
                });
            } else if (obj.event === "query") {

            }
        })
    });
</script>
</body>
</html>