<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>节次数据管理</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
</head>
<body>

<table id="table" lay-filter="member-info"></table>
<script type="text/html" id="toolbar">
    <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="toggle" id="toggle">toggle</a>
</script>
<script src="/static/layui/layui.js"></script>
<script>
    layui.use(['table','layer','jquery'], function(){
        var table = layui.table;
        var layer=layui.layer;
        var $ = layui.$;

        //第一个实例
        table.render({
            elem: '#table'
            ,height: 512
            ,loading:true
            ,url: '/index.php/section/read' //数据接口
            ,page: true //开启分页
            ,cols: [[ //表头
                {field: 'cid', title: 'ID', width:80, sort: true, fixed: 'left'}
                ,{field: 'weekNum', title: '周次',fixed: 'left',sort:true}
                ,{field: 'section', title: '节次',sort:true}
                ,{field: 'week', title: '星期', }
                ,{field: 'address', title: '教室', }
                ,{field: 'area', title: '校区', }
                ,{field: 'availability', title: '可用性'}
                ,{title: '工具条',fixed:'right',toolbar:"#toolbar"}
            ]]
        });
table.on("tool(member-info)",function (obj) {
    var data=obj.data;
    if (obj.event==="toggle"){
        layer.confirm("确认变更该行状态?",function (index) {
            let value=0;
            if (data.availability===0){
                value=1;
            }
            $.ajax({
                data:{"cid":data.cid}
                ,url:"../section/toggle"
                ,success:function (data) {
                    console.log(data);
                    obj.update({
                        "availability":value
                    })
                }
            });
            layer.close(index)
        });
    }
})
    });
</script>
</body>
</html>